* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: rgb(116, 0, 173);
  --primary-text: #fcfcfc;
  --text-color: #444444;
}

body {
  color: #444444;
}
header {
  background-color: var(--primary-color);
  color: var(--primary-text);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 4em;
}

.btn {
  padding: 12px 15px;
  border-radius: 4;
  background-color: black;
  border: 0;
  margin: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: darkmagenta (50% 25%);
}

.btn:hover {
}

.center {
  text-align: center;
}

h1 {
  margin: 1em;
}

.right {
  text-align: right;
  margin: 5px;
}

#cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 13%;
  margin: 2em;
  cursor: pointer;

}

.card img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.card img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-selected {
  border: 3px solid blue;
}

.disable {
  dis
}
